services:
  db:
    # "latest" will automatically pull the newest version (e.g., Postgres 16, 17, or 18)
    image: postgres:latest
    container_name: iv1351_db
    restart: always
    
    # The article explains these variables are critical for the container to start.
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: university_db

    volumes:
      - ./:/scripts